In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
print("Libraries imported")

Libraries imported

In [25]:
df = pd.read_csv('Used_Bikes.csv')
df.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32648 entries, 0 to 32647
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bike_name   32648 non-null  object
 1   price       32648 non-null  float64
 2   city        32648 non-null  object
 3   kms_driven  32648 non-null  float64
 4   owner       32648 non-null  object
 5   age         32648 non-null  float64
 6   power       32648 non-null  float64
 7   brand       32648 non-null  object
dtypes: float64(4), object(4)
memory usage: 2.0+ MB

In [27]:
print("No. of duplicates records: ",df.duplicated().sum())

No. of duplicates records:  25324

In [28]:
df.drop_duplicates(inplace=True)
print("Duplicates removed !")

Duplicates removed !

In [29]:
print("No. of duplicates records: ",df.duplicated().sum())

No. of duplicates records:  0

In [30]:
print("Total no. of bikes records: ",df.shape[0])

Total no. of bikes records:  7324

In [31]:
# missing value check in your data
df.isnull().sum()

bike_name     0
price         0
city          0
kms_driven    0
owner         0
age           0
power         0
brand         0
dtype: int64

In [32]:
cat_col = df.select_dtypes(include='O')
cat_col.head()

                              bike_name       city        owner          brand
0    TVS Star City Plus Dual Tone 110cc  Ahmedabad  First Owner            TVS
1           Royal Enfield Classic 350cc      Delhi  First Owner  Royal Enfield
2                  Triumph Daytona 675R      Delhi  First Owner        Triumph
3                  TVS Apache RTR 180cc  Bangalore  First Owner            TVS
4  Yamaha FZ S V 2.0 150cc-Ltd. Edition  Bangalore  First Owner         Yamaha

In [33]:
num_col = df.select_dtypes(exclude='O')
num_col.head()

      price  kms_driven  age  power
0   35000.0     17654.0  3.0  110.0
1  119900.0     11000.0  4.0  350.0
2  600000.0       110.0  8.0  675.0
3   65000.0     16329.0  4.0  180.0
4   80000.0     10000.0  3.0  150.0

In [34]:
cat_col['owner'].value_counts()

owner
First Owner             6642
Second Owner             588
Third Owner               84
Fourth Owner Or More      10
Name: count, dtype: int64

In [35]:
dt = {'First Owner':1,'Second Owner':2,'Third Owner':3,'Fourth Owner Or More':4}

In [36]:
df['owner'] = df['owner'].map(dt)    # single time execute

In [37]:
df['owner']

0       1
1       1
2       1
3       1
4       1
       ..
9362    1
9369    1
9370    1
9371    1
9372    1
Name: owner, Length: 7324, dtype: int64

In [38]:
df['brand'].value_counts()

brand
Bajaj              2081
Royal Enfield      1346
Hero               1142
Honda               676
Yamaha              651
TVS                 481
KTM                 375
Suzuki              203
Harley-Davidson      91
Kawasaki             61
Hyosung              53
Mahindra             50
Benelli              46
Triumph              21
Ducati               20
BMW                  10
Jawa                  7
Indian                3
MV                    3
Rajdoot               1
LML                   1
Yezdi                 1
Ideal                 1
Name: count, dtype: int64

In [39]:
bike_brand = list(df['brand'].value_counts().head(16).index)
bike_brand

['Bajaj',
 'Royal Enfield',
 'Hero',
 'Honda',
 'Yamaha',
 'TVS',
 'KTM',
 'Suzuki',
 'Harley-Davidson',
 'Kawasaki',
 'Hyosung',
 'Mahindra',
 'Benelli',
 'Triumph',
 'Ducati',
 'BMW']

In [40]:
#(df['brand'] == "Bajaj") | (df['brand'] == "Royal Enfield")
df2 = df[df['brand'].isin(bike_brand)]
df2

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,1,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,1,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,1,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,1,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,1,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...,...
9362,Hero Hunk Rear Disc 150cc,25000.0,Delhi,48587.0,1,8.0,150.0,Hero
9369,Bajaj Avenger 220cc,35000.0,Bangalore,60000.0,1,9.0,220.0,Bajaj
9370,Harley-Davidson Street 750 ABS,450000.0,Jodhpur,3430.0,1,4.0,750.0,Harley-Davidson
9371,Bajaj Dominar 400 ABS,139000.0,Hyderabad,21300.0,1,4.0,400.0,Bajaj
9372,Bajaj Avenger Street 220,80000.0,Hyderabad,7127.0,1,5.0,220.0,Bajaj

In [41]:
dt2 = {}
count = 1
for i in bike_brand:
    dt2[i] = count
    count += 1
dt2

{'Bajaj': 1,
 'Royal Enfield': 2,
 'Hero': 3,
 'Honda': 4,
 'Yamaha': 5,
 'TVS': 6,
 'KTM': 7,
 'Suzuki': 8,
 'Harley-Davidson': 9,
 'Kawasaki': 10,
 'Hyosung': 11,
 'Mahindra': 12,
 'Benelli': 13,
 'Triumph': 14,
 'Ducati': 15,
 'BMW': 16}

In [42]:
df2['brand'] = df2['brand'].map(dt2)

In [43]:
df2

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,1,3.0,110.0,6
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,1,4.0,350.0,2
2,Triumph Daytona 675R,600000.0,Delhi,110.0,1,8.0,675.0,14
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,1,4.0,180.0,6
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,1,3.0,150.0,5
...,...,...,...,...,...,...,...,...
9362,Hero Hunk Rear Disc 150cc,25000.0,Delhi,48587.0,1,8.0,150.0,3
9369,Bajaj Avenger 220cc,35000.0,Bangalore,60000.0,1,9.0,220.0,1
9370,Harley-Davidson Street 750 ABS,450000.0,Jodhpur,3430.0,1,4.0,750.0,9
9371,Bajaj Dominar 400 ABS,139000.0,Hyderabad,21300.0,1,4.0,400.0,1
9372,Bajaj Avenger Street 220,80000.0,Hyderabad,7127.0,1,5.0,220.0,1

In [47]:
df2.drop(['bike_name','city'],axis = 'columns',inplace = True)

Splitting data independent and dependent variables

In [50]:
x = df2.drop(['price'],axis = 'columns')
y = df2[['price']]
x

      kms_driven  owner  age  power  brand
0        17654.0      1  3.0  110.0      6
1        11000.0      1  4.0  350.0      2
2          110.0      1  8.0  675.0     14
3        16329.0      1  4.0  180.0      6
4        10000.0      1  3.0  150.0      5
...          ...    ...  ...    ...    ...
9362     48587.0      1  8.0  150.0      3
9369     60000.0      1  9.0  220.0      1
9370      3430.0      1  4.0  750.0      9
9371     21300.0      1  4.0  400.0      1
9372      7127.0      1  5.0  220.0      1

[7307 rows x 5 columns]

In [96]:
from sklearn.model_selection import train_test_split

In [97]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)  # test size = 20%

In [98]:
# importing  linear regression algorithm class
from sklearn.linear_model import LinearRegression

In [99]:
# instance creation
lnr = LinearRegression()

In [100]:
# algorithm train
lnr.fit(x_train,y_train)

LinearRegression()

In [101]:
# Model evaluation
print("Training Score: ",lnr.score(x_train,y_train) * 100)
print("Testing Score: ",lnr.score(x_test,y_test) * 100)

Training Score:  73.51926232757269
Testing Score:  75.64024839094242

In [102]:
x_test.shape
# total 1462 bikes

(1462, 5)

In [103]:
# prediction or testing phase
prediction = lnr.predict(x_test)

In [104]:
prediction.shape

(1462, 1)

In [105]:
compare_df = pd.concat([x_test,y_test],axis=1)

In [106]:
compare_df['prediction'] = prediction

In [107]:
compare_df.head()

      kms_driven  owner   age  power  brand     price     prediction
5422     15000.0      1   6.0  150.0      1   60000.0   16794.777220
5147      2200.0      1   4.0  250.0      4  150000.0  112553.740978
4932     18958.0      1   5.0  110.0      4   28400.0   34093.461826
8337     21200.0      1  10.0  150.0      5   52000.0   52826.739810
4702     19546.0      1   8.0  100.0      3   30000.0    8177.493028

In [108]:
compare_df['residual'] = compare_df['price'] - compare_df['prediction']

In [109]:
compare_df.head()

,kms_driven,owner,age,power,brand,price,prediction,residual
5422,15000.0,1,6.0,150.0,1,60000.0,16794.777220,43205.222780
5147,2200.0,1,4.0,250.0,4,150000.0,112553.740978,37446.259022
4932,18958.0,1,5.0,110.0,4,28400.0,34093.461826,-5693.461826
8337,21200.0,1,10.0,150.0,5,52000.0,52826.739810,-826.739810
4702,19546.0,1,8.0,100.0,3,30000.0,8177.493028,21822.506972

In [110]:
# prediction dor single point
unseen_bike = [[4500,2,3,220,3]]
price_of_unseen_bike = lnr.predict(unseen_bike)
price_of_unseen_bike

array([[79442.99211671]])

In [111]:
x_train

      kms_driven  owner   age  power  brand
6384     35000.0      1   7.0  125.0      1
5258     42000.0      2  11.0  100.0      3
8264      2307.0      1   3.0  200.0      3
393       5000.0      1   2.0  150.0      4
1468     50000.0      1   7.0  150.0      5
...          ...    ...   ...    ...    ...
4976     43000.0      1   6.0  100.0      3
48       10800.0      1   8.0  150.0      3
4249     23000.0      1   5.0  150.0      5
641      20000.0      1   3.0  350.0      2
2723       750.0      1   4.0  350.0      2

[5845 rows x 5 columns]

In [53]:
# saving models
import os,joblib

In [54]:
os.makedirs('models',exist_ok=True)

In [55]:
ls

 Volume in drive D has no label.
 Volume Serial Number is 9EBD-3DBB

 Directory of d:\ai-ml\machine_learning\old_bike_price_prediction

07/29/2024  11:52 AM    <DIR>          .
07/29/2024  11:52 AM    <DIR>          ..
07/29/2024  11:52 AM    <DIR>          models
07/30/2024  12:10 PM            71,278 prediction.ipynb
07/27/2024  10:58 AM             1,866 requirements.txt
07/18/2024  10:15 AM         2,493,547 Used_Bikes.csv
               3 File(s)      2,566,691 bytes
               3 Dir(s)  146,846,486,528 bytes free

In [56]:
student_ls = ['harsh','aditya','himanshu','bittu']
student_ls

['harsh', 'aditya', 'himanshu', 'bittu']

In [57]:
joblib.dump(student_ls,'student_list.lb')

['student_list.lb']

In [58]:
joblib.load('student_list.lb')

['harsh', 'aditya', 'himanshu', 'bittu']

In [59]:
joblib.dump(lnr,'./models/LinearReagression.lb')

NameError: name 'lnr' is not defined

In [ ]:
joblib.load('./models/LinearReagression.lb')